<p id="notice"><%= notice %></p>

<h2>
  <%= @task.name %>
</h2>

<p>
  <%= @task.description %><br>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @work.title, work_path(@work.id), :class => "label" %>
  <strong>Filled under to list:</strong>
  <%= link_to @todo_list.name, work_todo_list_path(@work.id, @todo_list.id), :class => "label" %>
  <strong>Assigned to:</strong>
  <%= link_to @task.user.username, user_path(@task.user.id), :class => "label" %>
  <strong>Due date:</strong>
  <span class="label" ><%= @task.due_date %></span>
</p>

<h2>Attachment</h2>
<% @attachments.each do |a| %>
  <p>
    <%= image_tag a.attachment %>
  </p>
<% end %>


<h2>Discussion</h2>
<% @task.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %>:</strong>
    <%= comment.body %>
  </p>
<% end %>

<%= form_for [@work, @todo_list, @task, @task.comments.build] do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %> 
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'button right' %> 
  </div>
<% end %>